<h2>Parameters</h2><form method="POST" action="saveParameters" name="frm">board_id:<input type="text" size="4" name="board_id" title="" readonly>
<br>rev_id:<input type="text" size="4" name="rev_id" title="" readonly>
<br>
<h3>firmware_id</h3>
<div style="border:1px solid">
    ver_major:<input type="text" size="8" name="firmware_id.ver_major" title="" readonly>
<br>
    ver_minor:<input type="text" size="8" name="firmware_id.ver_minor" title="" readonly>
<br>
    ver_build:<input type="text" size="8" name="firmware_id.ver_build" title="" readonly>
<br>
    firmware_yy:<input type="text" size="8" name="firmware_id.firmware_yy" title="" readonly>
<br>
    firmware_mm:<input type="text" size="8" name="firmware_id.firmware_mm" title="" readonly>
<br>
    firmware_dd:<input type="text" size="8" name="firmware_id.firmware_dd" title="" readonly>
<br>
  
</div>test:<input type="text" size="8" name="test" title="">
<br>
<h3>ctrl</h3>
<div style="border:1px solid">
    pcieclk_pll_sel:<input type="text" size="8" name="ctrl.pcieclk_pll_sel" title="">
<br>
    pcieclk_mr:<input type="text" size="8" name="ctrl.pcieclk_mr" title="">
<br>
    pcieclk_fsel1:<input type="text" size="8" name="ctrl.pcieclk_fsel1" title="">
<br>
    pcieclk_fsel0:<input type="text" size="8" name="ctrl.pcieclk_fsel0" title="">
<br>
    cdce_powerup:<input type="text" size="8" name="ctrl.cdce_powerup" title="">
<br>
    cdce_refsel:<input type="checkbox" size="8" name="ctrl.cdce_refsel" title="">
<br>
    cdce_sync:<input type="text" size="8" name="ctrl.cdce_sync" title="">
<br>
    cdce_ctrl_sel:<input type="text" size="8" name="ctrl.cdce_ctrl_sel" title="">
<br>
    cdce_xpoint_out1:<input type="text" size="8" name="ctrl.cdce_xpoint_out1" title="">
<br>
    cdce_xpoint_out2:<input type="text" size="8" name="ctrl.cdce_xpoint_out2" title="*">
<br>
    cdce_xpoint_out3:<input type="text" size="8" name="ctrl.cdce_xpoint_out3" title="*">
<br>
    cdce_xpoint_out4:<input type="text" size="8" name="ctrl.cdce_xpoint_out4" title="*">
<br>
    ttc_xpoint_B_out4:<input type="text" size="8" name="ctrl.ttc_xpoint_B_out4" title="*">
<br>
    ttc_xpoint_A_out1:<input type="text" size="8" name="ctrl.ttc_xpoint_A_out1" title="*">
<br>
    ttc_xpoint_A_out2:<input type="text" size="8" name="ctrl.ttc_xpoint_A_out2" title="*">
<br>
    ttc_xpoint_A_out3:<input type="text" size="8" name="ctrl.ttc_xpoint_A_out3" title="*">
<br>
    ttc_xpoint_A_out4:<input type="text" size="8" name="ctrl.ttc_xpoint_A_out4" title="*">
<br>
    ttc_xpoint_B_out1:<input type="text" size="8" name="ctrl.ttc_xpoint_B_out1" title="*">
<br>
    tclkb_tclkd_en:<input type="text" size="8" name="ctrl.tclkb_tclkd_en" title="">
<br>
    mgt_xpoint_out1:<input type="text" size="8" name="ctrl.mgt_xpoint_out1" title="*">
<br>
    mgt_xpoint_out2:<input type="text" size="8" name="ctrl.mgt_xpoint_out2" title="*">
<br>
    mgt_xpoint_out3:<input type="text" size="8" name="ctrl.mgt_xpoint_out3" title="*">
<br>
    mgt_xpoint_out4:<input type="text" size="8" name="ctrl.mgt_xpoint_out4" title="*">
<br>
  
</div>
<h3>ctrl_2</h3>
<div style="border:1px solid">
    icap_page:<input type="text" size="8" name="ctrl_2.icap_page" title="">
<br>
    icap_trigg:<input type="text" size="8" name="ctrl_2.icap_trigg" title="">
<br>
    phase_mon_lower:<input type="text" size="8" name="ctrl_2.phase_mon_lower" title="">
<br>
    phase_mon_upper:<input type="text" size="8" name="ctrl_2.phase_mon_upper" title="">
<br>
    phase_mon_strobe:<input type="text" size="8" name="ctrl_2.phase_mon_strobe" title="">
<br>
    phase_mon_refclk_sel:<input type="text" size="8" name="ctrl_2.phase_mon_refclk_sel" title="">
<br>
    phase_mon_auto:<input type="text" size="8" name="ctrl_2.phase_mon_auto" title="">
<br>
    fmc_l12_pwr_en:<input type="text" size="8" name="ctrl_2.fmc_l12_pwr_en" title="">
<br>
    fmc_l8_pwr_en:<input type="text" size="8" name="ctrl_2.fmc_l8_pwr_en" title="">
<br>
    fmc_pg_c2m:<input type="text" size="8" name="ctrl_2.fmc_pg_c2m" title="">
<br>
  
</div>
<h3>status</h3>
<div style="border:1px solid">
    cpld2fpga_gpio:<input type="text" size="8" name="status.cpld2fpga_gpio" title="" readonly>
<br>
    pca8574_int:<input type="text" size="8" name="status.pca8574_int" title="" readonly>
<br>
    phase_mon_count:<input type="text" size="8" name="status.phase_mon_count" title="" readonly>
<br>
    phase_mon_done:<input type="text" size="8" name="status.phase_mon_done" title="" readonly>
<br>
    phase_mon_ok:<input type="text" size="8" name="status.phase_mon_ok" title="" readonly>
<br>
    cdce_sync_busy:<input type="text" size="8" name="status.cdce_sync_busy" title="" readonly>
<br>
    cdce_sync_done:<input type="text" size="8" name="status.cdce_sync_done" title="" readonly>
<br>
    cdce_lock:<input type="text" size="8" name="status.cdce_lock" title="" readonly>
<br>
    fmc_l12_pg_m2c:<input type="text" size="8" name="status.fmc_l12_pg_m2c" title="" readonly>
<br>
    fmc_l12_present:<input type="text" size="8" name="status.fmc_l12_present" title="" readonly>
<br>
    fmc_l8_pg_m2c:<input type="text" size="8" name="status.fmc_l8_pg_m2c" title="" readonly>
<br>
    fmc_l8_present:<input type="text" size="8" name="status.fmc_l8_present" title="" readonly>
<br>
  
</div>status_2:<input type="text" size="8" name="status_2" title="" readonly>
<br>spi_txdata:<input type="text" size="8" name="spi_txdata" title="">
<br>spi_command:<input type="text" size="8" name="spi_command" title="*">
<br>spi_rxdata:<input type="text" size="8" name="spi_rxdata" title="" readonly>
<br>
<h3>i2c_settings</h3>
<div style="border:1px solid">
    i2c_enable:<input type="text" size="8" name="i2c_settings.i2c_enable" title="">
<br>
    i2c_bus_select:<input type="text" size="8" name="i2c_settings.i2c_bus_select" title="">
<br>
    i2c_prescaler:<input type="text" size="8" name="i2c_settings.i2c_prescaler" title="">
<br>
  
</div>
<h3>i2c_command</h3>
<div style="border:1px solid">
    i2c_strobe:<input type="text" size="8" name="i2c_command.i2c_strobe" title="*">
<br>
    i2c_mode16:<input type="text" size="8" name="i2c_command.i2c_mode16" title="">
<br>
    i2c_mem:<input type="text" size="8" name="i2c_command.i2c_mem" title="">
<br>
    i2c_write:<input type="text" size="8" name="i2c_command.i2c_write" title="">
<br>
    i2c_slvaddr_7b:<input type="text" size="8" name="i2c_command.i2c_slvaddr_7b" title="">
<br>
    i2c_regaddr:<input type="text" size="8" name="i2c_command.i2c_regaddr" title="">
<br>
    i2c_wrdata:<input type="text" size="8" name="i2c_command.i2c_wrdata" title="">
<br>
  
</div>
<h3>i2c_reply</h3>
<div style="border:1px solid">
    i2c_reply_status:<input type="text" size="8" name="i2c_reply.i2c_reply_status" title="" readonly>
<br>
    i2c_reply_error:<input type="text" size="8" name="i2c_reply.i2c_reply_error" title="" readonly>
<br>
    i2c_reply_done:<input type="text" size="8" name="i2c_reply.i2c_reply_done" title="" readonly>
<br>
    i2c_reply_8b:<input type="text" size="8" name="i2c_reply.i2c_reply_8b" title="" readonly>
<br>
    i2c_reply_16b:<input type="text" size="8" name="i2c_reply.i2c_reply_16b" title="" readonly>
<br>
  
</div>eep_read_done:<input type="text" size="8" name="eep_read_done" title="" readonly>
<br>mac_ip_source:<input type="text" size="8" name="mac_ip_source" title="" readonly>
<br>mac_b5:<input type="text" size="8" name="mac_b5" title="" readonly>
<br>mac_b4:<input type="text" size="8" name="mac_b4" title="" readonly>
<br>mac_b3:<input type="text" size="8" name="mac_b3" title="" readonly>
<br>mac_b2:<input type="text" size="8" name="mac_b2" title="" readonly>
<br>mac_b1:<input type="text" size="8" name="mac_b1" title="" readonly>
<br>mac_b0:<input type="text" size="8" name="mac_b0" title="" readonly>
<br>dipsw:<input type="text" size="8" name="dipsw" title="" readonly>
<br>eui48_hi:<input type="text" size="8" name="eui48_hi" title="" readonly>
<br>eui_b5:<input type="text" size="8" name="eui_b5" title="" readonly>
<br>eui_b4:<input type="text" size="8" name="eui_b4" title="" readonly>
<br>eui48_lo:<input type="text" size="8" name="eui48_lo" title="" readonly>
<br>eui_b3:<input type="text" size="8" name="eui_b3" title="" readonly>
<br>eui_b2:<input type="text" size="8" name="eui_b2" title="" readonly>
<br>eui_b1:<input type="text" size="8" name="eui_b1" title="" readonly>
<br>eui_b0:<input type="text" size="8" name="eui_b0" title="" readonly>
<br>icap:<input type="text" size="8" name="icap" title="">
<br>user_ipb_regs:<input type="text" size="8" name="user_ipb_regs" title="">
<br>user_ipb_stat_regs:<input type="text" size="8" name="user_ipb_stat_regs" title="">
<br>
<h3>usr_id</h3>
<div style="border:1px solid">
    usr_id_char1:<input type="text" size="8" name="usr_id.usr_id_char1" title="" readonly>
<br>
    usr_id_char2:<input type="text" size="8" name="usr_id.usr_id_char2" title="" readonly>
<br>
    usr_id_char3:<input type="text" size="8" name="usr_id.usr_id_char3" title="" readonly>
<br>
    usr_id_char4:<input type="text" size="8" name="usr_id.usr_id_char4" title="" readonly>
<br>
  
</div>
<h3>usr_ver</h3>
<div style="border:1px solid">
    usr_ver_major:<input type="text" size="8" name="usr_ver.usr_ver_major" title="" readonly>
<br>
    usr_ver_minor:<input type="text" size="8" name="usr_ver.usr_ver_minor" title="" readonly>
<br>
    usr_ver_build:<input type="text" size="8" name="usr_ver.usr_ver_build" title="" readonly>
<br>
    usr_firmware_yy:<input type="text" size="8" name="usr_ver.usr_firmware_yy" title="" readonly>
<br>
    usr_firmware_mm:<input type="text" size="8" name="usr_ver.usr_firmware_mm" title="" readonly>
<br>
    usr_firmware_dd:<input type="text" size="8" name="usr_ver.usr_firmware_dd" title="" readonly>
<br>
  
</div>user_ipb_ctrl_regs:<input type="text" size="8" name="user_ipb_ctrl_regs" title="">
<br>
<input value="Write" type="submit">
</form>
