<h2>CDCE Write</h2><form method="POST" action="saveParameters" name="frm">
<br>spi_txdata:<input type="text" size="8" name="spi_txdata" title="">
<br>spi_command:<input type="text" size="8" name="spi_command" title="*">
<br>spi_rxdata:<input type="text" size="8" name="spi_rxdata" title="" readonly>
<br>
<input value="Write" type="submit">
</form>


