<h2>CDCE status</h2><form method="POST" action="saveParameters" name="frm">board_id:<input type="text" size="4" name="board_id" title="" readonly>
sys_id:<input type="text" size="4" name="sys_id" title="" readonly>
<br>
<h3>phase_mon</h3>
<div style="border:1px solid">
    phase_mon_count: 0x<input type="text" size="8" name="status.phase_mon_count" title="" readonly>
<br>
    phase_mon_done:<input type="checkbox" size="8" name="status.phase_mon_done" title="" readonly>
<br>
    phase_mon_lower: 0x<input type="text" size="8" name="ctrl_2.phase_mon_lower" title="">
<br>
    phase_mon_upper: 0x<input type="text" size="8" name="ctrl_2.phase_mon_upper" title="">
<br>
    phase_mon_ok:<input type="checkbox" size="8" name="status.phase_mon_ok" title="" readonly>
<br>
  
</div>
<h3>CDCE</h3>
<div style="border:1px solid">
    cdce_powerup:<input type="checkbox" size="8" name="ctrl.cdce_powerup" title="">
    cdce_sync:<input type="checkbox" size="8" name="ctrl.cdce_sync" title="">
<br>
    cdce clock source:<select name="ctrl.cdce_refsel" ></select>
<br>
    cdce_ctrl_sel:<select name="ctrl.cdce_ctrl_sel" ></select>
<br>
    cdce_sync_busy:<input type="checkbox" size="8" name="status.cdce_sync_busy" title="" readonly>
<br>
    cdce_sync_done:<input type="checkbox" size="8" name="status.cdce_sync_done" title="" readonly>
<br>
    cdce_lock:<input type="checkbox" size="8" name="status.cdce_lock" title="" readonly>
<br>
  
</div>
<h3>CDCE62005 registers</h3>
    register 0: 0x<input type="text" size="8" name="cta.getCdceRegister(0)"><br>
    register 1: 0x<input type="text" size="8" name="cta.getCdceRegister(1)"><br>
    register 2: 0x<input type="text" size="8" name="cta.getCdceRegister(2)"><br>
    register 3: 0x<input type="text" size="8" name="cta.getCdceRegister(3)"><br>
    register 4: 0x<input type="text" size="8" name="cta.getCdceRegister(4)"><br>
    register 5: 0x<input type="text" size="8" name="cta.getCdceRegister(5)"><br>
    register 6: 0x<input type="text" size="8" name="cta.getCdceRegister(6)"><br>
    register 7: 0x<input type="text" size="8" name="cta.getCdceRegister(7)"><br>
    register 8: 0x<input type="text" size="8" name="cta.getCdceRegister(0x8)"><br>

<h3>i2c voltage</h3>
<div style="border:1px solid">
<input type="text" size="30" name="cta.getI2cVoltage(1)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(0)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(3)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(2)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(6)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(5)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(11)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(10)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(13)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(12)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(16)"><br>
<input type="text" size="30" name="cta.getI2cVoltage(15)"><br>
</div>

<h3>ICAP</h3>
<div style="border:1px solid">
 Reading IDCODE: 0x<input type="text" size="30" name="cta.getIcapIdCode()"><br>
<table border='1'><tr><td>Bit</td><th colspan='2'>BOOTSTS register content details</th></tr>
<tr><td>0</td><td>VALID_0 - ERROR OR END OF STARTUP (EOS) DETECTED</td><td><input type="checkbox" name="cta.getIcapBootStsBit(0)"</td></tr>
<tr><td>1</td><td>FALLBACK_0 - FALLBACK TRIGGERED RECONFIGURATION</td><td><input type="checkbox" name="cta.getIcapBootStsBit(1)"></td></tr>
<tr><td>2</td><td>IPROG_0 - INTERNAL WARMBOOT (IPROG) TRIGGERED RECONFIGURATION</td><td><input type="checkbox" name="cta.getIcapBootStsBit(2)"</td></tr>
<tr><td>3</td><td>WTO_ERROR_0 - WATCHDOG TIME OUT ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(3)"></td></tr>
<tr><td>4</td><td>ID_ERROR_0 - FPGA DEVICE IDCODE ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(4)"></td></tr>
<tr><td>5</td><td>CRC_ERROR_0 - CYCLIC REDUNDANCY CHECK (CRC) ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(5)"</td></tr>
<tr><td>6</td><td>WRAP_ERROR_0 - BPI FLASH ADDRESS COUNTER WRAP AROUND ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(6)"></td></tr>
<tr><td>7</td><td>HMAC_ERROR_0 - HMAC ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(7)"></td></tr>
<tr><td>8</td><td>VALID_1 - ERROR OR END OF STARTUP (EOS) DETECTED</td><td><input type="checkbox" name="cta.getIcapBootStsBit(8)"</td></tr>
<tr><td>9</td><td>FALLBACK_1 - FALLBACK TRIGGERED RECONFIGURATION</td><td><input type="checkbox" name="cta.getIcapBootStsBit(9)"></td></tr>
<tr><td>10</td><td>IPROG_1 - INTERNAL WARMBOOT (IPROG) TRIGGERED RECONFIGURATION</td><td><input type="checkbox" name="cta.getIcapBootStsBit(10)"</td></tr>
<tr><td>11</td><td>WTO_ERROR_1 - WATCHDOG TIME OUT ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(11)"></td></tr>
<tr><td>12</td><td>ID_ERROR_1 - FPGA DEVICE IDCODE ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(12)"></td></tr>
<tr><td>13</td><td>CRC_ERROR_1 - CYCLIC REDUNDANCY CHECK (CRC) ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(13)"</td></tr>
<tr><td>14</td><td>WRAP_ERROR_1 - BPI FLASH ADDRESS COUNTER WRAP AROUND ERROR</td><td><input type="checkbox" name="cta.getIcapBootStsBit(14)"></td></tr>
</table>
<table border='1'><tr><td>Bit</td><th colspan='2'>STATUS register content details</th></tr>
<tr><td>0</td><td>CRC_ERROR</td><td><input type="checkbox" name="cta.getIcapStatusBit(0)"</td></tr>
<tr><td>1</td><td>PART_SECURED</td><td><input type="checkbox" name="cta.getIcapStatusBit(1)"</td></tr>
<tr><td>2</td><td>MMCM_LOCK</td><td><input type="checkbox" name="cta.getIcapStatusBit(2)"</td></tr>
<tr><td>3</td><td>DCI_MATCH</td><td><input type="checkbox" name="cta.getIcapStatusBit(3)"</td></tr>
<tr><td>4</td><td>EOS</td><td><input type="checkbox" name="cta.getIcapStatusBit(4)"</td></tr>
<tr><td>5</td><td>GTS_CFG_B</td><td><input type="checkbox" name="cta.getIcapStatusBit(5)"</td></tr>
<tr><td>6</td><td>GWE</td><td><input type="checkbox" name="cta.getIcapStatusBit(6)"</td></tr>
<tr><td>7</td><td>GHIGH_B</td><td><input type="checkbox" name="cta.getIcapStatusBit(7)"</td></tr>
<tr><td>8</td><td>MODE[0]</td><td><input type="checkbox" name="cta.getIcapStatusBit(8)"</td></tr>
<tr><td>9</td><td>MODE[1]</td><td><input type="checkbox" name="cta.getIcapStatusBit(9)"</td></tr>
<tr><td>10</td><td>MODE[2]</td><td><input type="checkbox" name="cta.getIcapStatusBit(10)"</td></tr>
<tr><td>11</td><td>INIT_COMPLETE</td><td><input type="checkbox" name="cta.getIcapStatusBit(11)"</td></tr>
<tr><td>12</td><td>INIT_B</td><td><input type="checkbox" name="cta.getIcapStatusBit(12)"</td></tr>
<tr><td>13</td><td>RELEASE_DONE</td><td><input type="checkbox" name="cta.getIcapStatusBit(13)"</td></tr>
<tr><td>14</td><td>DONE</td><td><input type="checkbox" name="cta.getIcapStatusBit(14)"</td></tr>
<tr><td>15</td><td>ID_ERROR</td><td><input type="checkbox" name="cta.getIcapStatusBit(15)"</td></tr>
<tr><td>16</td><td>DEC_ERROR</td><td><input type="checkbox" name="cta.getIcapStatusBit(16)"</td></tr>
<tr><td>17</td><td>XADC_OVER_TEMP</td><td><input type="checkbox" name="cta.getIcapStatusBit(17)"</td></tr>
<tr><td>18</td><td>STARTUP_STATE[0]</td><td><input type="checkbox" name="cta.getIcapStatusBit(18)"</td></tr>
<tr><td>19</td><td>STARTUP_STATE[1]</td><td><input type="checkbox" name="cta.getIcapStatusBit(19)"</td></tr>
<tr><td>20</td><td>STARTUP_STATE[2]</td><td><input type="checkbox" name="cta.getIcapStatusBit(20)"</td></tr>
<tr><td>25</td><td>BUS_WIDTH[0]</td><td><input type="checkbox" name="cta.getIcapStatusBit(25)"</td></tr>
<tr><td>26</td><td>BUS_WIDTH[1]</td><td><input type="checkbox" name="cta.getIcapStatusBit(26)"</td></tr>
</table>
</div>
<h3>MAC address</h3>
<div style="border:1px solid">
    <input type="text" size="20" name="cta.getMacAddress()"><br>
</div>
<input value="Write" type="submit">
</form>

