<form method="POST" action="saveParameters" name="frm" >
<fieldset><legend>Acquisition parameters:</legend>
<table><tbody>
<tr><td>Number of packets:</td><td><input name="pc_commands.CBC_DATA_PACKET_NUMBER" size="6" title="Data size in packets - 1 (0 means one packet)" type="text"></td></tr>
<tr><td>External trigger</td><td><select name="pc_commands.TRIGGER_SEL" title="0: internal trigger; automatically stopped when veto request, 1: external trigger from FMC DIO5; with backpressure control (TLU), 2: external trigger from FMC DIO5; no backpressure control; automatically stopped when veto request" onchange="document.frm.pc_commands_INT_TRIGGER_FREQ.disabled=(pc_commands_TRIGGER_SEL.selectedIndex!=0);" ></select></td></tr>
<tr><td>Trigger accept delay</td><td><input name="readoutReleaseDelay" title="Cycles number neccessary to accept last triggers before the external backpressure or VETO is effective" size="6"></td></tr>
<tr><td>Internal trigger frequency:</td><td><select name="pc_commands.INT_TRIGGER_FREQ"></select></td></tr>
<tr><td>External data from CBC</td><td><input name="pc_commands.CBC_DATA_GENE" title="[if false, data is generated internally (delayed from trigger)]" type="checkbox"></td>
<td>True readout data</td><td><input name="pc_commands.readoutDataType" title="DDR3 readout stage - 0x0: test pattern // 0x1: true data" type="checkbox"></td></tr>
<!--tr><td>Clock shift</td><td><input name="pc_commands2.clock_shift" title="[Clock signal shifted by 180 degrees]" type="checkbox"></td></tr-->
<tr><td>Masked Front End</td><td><input name="pc_commands2.FE0_masked" title="FE0 masked" type="checkbox">FE 0, <input name="pc_commands2.FE1_masked" title="FE1 masked" type="checkbox">FE 1</td></tr>
<tr><td>Single readout mode</td><td><input name="pc_commands.readoutRelease" title="0: dual / 1: simple" type="checkbox"></td></tr>
<tr><td>CBC stub data delayed</td><td><input name="cbc.STUBDATA_LATENCY_MODE" title="Latency mode // 0x0: L1A to be delayed // 0x1: cbcStubData to be delayed" type="checkbox"></td></tr>
<tr><td>CBC stub data latency adjust</td><td><input name="cbc.STUBDATA_LATENCY_ADJUST" type="text" size="6" title="Latency adjustment (delay in clock cycles) for the readout of the StubData. To be applied on L1A or StubData directly according to cbcStubDataLatMode. Common for all CBC2 from a FE. Common for the 2 FE"></td></tr>
</tbody></table>
<fieldset><legend>DIO 5 mezzanine</legend>
<table border="0">
      <tr>
<td>DIO 5 input clock</td>
<td><input size="8" type="checkbox" name="dio5.clk_mux_sel" title="Selection of the DAQ clocking 0: internal clock, 1: fmcdio5_clk_in"/></td>
</tr>
      <tr>
<td>Clock input threshold</td>
<td><input size="8" type="text" name="dio5.fmcdio5_threshold_clk_in" title="Decimal number between [0:255] used to compute threshold voltage &#xa;Threshold = value*3.3/256 V"></td>
<td><img src="/img/info.png" onclick="alert(calculateVoltage(document.frm.dio5_fmcdio5_threshold_clk_in.value));"/></td>
</tr>
      <tr>
<td>Clock input 50 ohms termination</td>
<td><input size="8" type="checkbox" name="dio5.fmcdio5_clk_in_50ohms" title="Programmable 50 ohms termination for LEMO3 input 1: TERM(50 ohms) enabled"></td>
</tr>
      <tr>
<td>Clock output 50 ohms termination</td>
<td><input size="8" type="checkbox" name="dio5.fmcdio5_clk_out_50ohms" title="Programmable 50 ohms termination for LEMO4 output 1: TERM(50 ohms) enabled"></td>
</tr>
      <tr>
<td>Trigger input threshold</td>
<td><input size="8" type="text" name="dio5.fmcdio5_threshold_trig_in" title="Decimal number between [0:255] used to compute threshold voltage &#xa;Threshold = value*3.3/256 V"></td>
<td><img src="/img/info.png" onclick="alert(calculateVoltage(document.frm.dio5_fmcdio5_threshold_trig_in.value));"/></td>
</tr>
      <tr>
<td>Trigger input 50 ohms termination</td>
<td><input size="8" type="checkbox" name="dio5.fmcdio5_trig_in_50ohms" title="Programmable 50 ohms termination for LEMO1 input 
 1: TERM(50 ohms) enabled"></td>
</tr>
      <tr>
<td>Trigger input falling edge</td>
<td><input name="dio5.fmcdio5_trig_in_edge" type="checkbox" title="Active edge from the input trigger to detect &#xa;0:rising edge, 1:falling edge"/></td>
</tr>
      <tr>
<td>Trigger output 50 ohms termination</td>
<td><input size="8" type="checkbox" name="dio5.fmcdio5_trig_out_50ohms" title="Programmable 50 ohms termination for LEMO2 output 
 1: TERM(50 ohms) enabled"></td>
</tr>
      <tr>
<td>Backpressure output 50 ohms termination</td>
<td><input size="8" type="checkbox" name="dio5.fmcdio5_backpressure_out_50ohms" title="Programmable 50 ohms termination for LEMO5 output 
 1: TERM(50 ohms) enabled"></td>
</tr>
      <tr>
<td>Negative backpressure output polarity</td>
<td><input name="dio5.fmcdio5_backpressure_out_polar" type="checkbox" title="Selection of the polarity of the backpressure output &#xa;0: positive (high level when active), 1: negative (low level when active)"/></td>
</tr>
    </table></fieldset>
    
<fieldset><legend>Commissionning mode</legend>
<table>
<tr><td>Request</td><td><input name="COMMISSIONNING_MODE_RQ" type="checkbox" title="Commissionning mode request"/></td></tr>
<tr><td>Delay after fast reset</td><td><input name="COMMISSIONNING_MODE_DELAY_AFTER_FAST_RESET" type="text" size="6" title=""/></td></tr>
<tr><td>Delay after test pulse</td><td><input name="COMMISSIONNING_MODE_DELAY_AFTER_TEST_PULSE" type="text" size="6" title=""/></td></tr>
<tr><td>Delay after L1A</td><td><input name="COMMISSIONNING_MODE_DELAY_AFTER_L1A" type="text" size="6" title=""/></td></tr>
</table>
</fieldset>
</fieldset>
<fieldset><legend>I<sup>2</sup>C parameters:</legend>
<table>
<tr><td>Communications frequency:</td><td><select name="cbc_i2c_clk_prescaler"></select></td></tr>
</table>

</fieldset>

<input value="OK" type="submit">

<script>
  function calculateVoltage(input){
          var iPar = parseInt(input);
          return "Threshold voltage: "+iPar+" * 3.3 / 256 = "+(Math.round(iPar*330/256)/100)+" V";
  }
</script>
</form>
