<fieldset><legend>Firmware information</legend>

<table border="1"><tr>
<td>board_id:<input type="text" size="8" name="board_id" title="Board ID (one byte per character, e.g. GLIB)" readonly></td>
<td>sys_id:<input type="text" size="8" name="sys_id" title="System ID" readonly></td>
</tr></table>

<table border="1">
		    <tr>
<th colspan="6">System version</th><th colspan="6">date</th></tr>
<tr>
<td border="0">major:</td><td><input size="3" type="text" name="firm_id.firmware_major" title="System firmware major version number" readonly></td>
<td border="0">minor:</td><td><input size="3" type="text" name="firm_id.firmware_minor" title="System firmware minor version number" readonly></td>
<td border="0">build:</td><td><input size="3" type="text" name="firm_id.firmware_build" title="System firmware build number" readonly></td>
<td border="0">20</td><td border="0"><input size="2" type="text" name="firm_id.firmware_yy" title="Year of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="firm_id.firmware_mm" title="Month of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="firm_id.firmware_dd" title="Day of firmware last modification" readonly></td>
</tr>
<th colspan="4">IPHC version</th><th colspan="8">date</th></tr>
<td border="0">Archi:</td><td><input size="3" type="text" id="archi_nb" name="general.firmware_version.archi_nb" title="Archi version number (incremental)" readonly></td>
<td border="0">FW:</td><td><input size="3" type="text" name="general.firmware_version.fw_nb" title="Firmware version number (incremental)" readonly></td>
<td colspan="2"> <img src="/img/info.png" onclick="alert(versionDescription(document.getElementById('archi_nb').value));"/> </td>

<td border="0">20</td><td border="0"><input size="2" type="text" name="general.firmware_version.year" title="Year of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="general.firmware_version.month" title="Month of firmware last modification" readonly></td>
<td border="0">-</td>
<td border="0"><input size="2" type="text" name="general.firmware_version.day" title="Day of firmware last modification" readonly></td>
<tr>
<th colspan="4">Description code: <input type="text" size="8" name="general.user_board_id" title="" readonly></th>
<td colspan="2"><input type="text" size="8" name="general.user_sys_id" title="" readonly></td>
</tr>
</table><br>

<!--table border="1"><tr><td>Mezzanines: </td>
<td>fmc1_present<input type="checkbox" name="status.fmc1_present" title="FMC mezzanine present on 1st connector (J1)" readonly></td>
<td>fmc2_present<input type="checkbox" name="status.fmc2_present" title="FMC mezzanine present on 2nd connector (J2)" readonly></td>
</tr> </table--><br>

</fieldset>
<script>
  function versionDescription(archi){
	desc="Architecture description:\n\n";
        if (archi=="3") return desc+"mono-GLIB + FMCDIO5 + TLU (TB June 2015 with data format similar to TB DESY 2013)";
	else if (archi=="4") return desc+"BE with FMCDIO5 + TLU + GBT + FE with 2x2CBC2";
	else if (archi=="5") return desc+"BE with FMCDIO5 + TLU + GBT + FE with 2x8CBC2 (format TB november 2015 with hybrids 8CBC2)";
	else return "?";
  }
</script>
