<form method="POST" action="validParam"><fieldset><legend>Acquisition parameters:</legend>
<table><tbody>
<tr><td>Destination file:</td><td><input name="destination(string)" size="40" type="text"></td>
<!--td>Max size (MB):</td> <td><input name="destMaxSize" size="5" type="text" title="When this file size is reached, the file is closed and another is opened with an incremented file name"></td-->
</tr>
<tr><td>New DAQ format file:</td><td><input name="NewDaqFile(string)" size="40" type="text"></td></tr>
<!--tr><td>2<sup>nd</sup> DAQ format file:</td><td><input name="secondDest(string)" size="40" type="text"></td>
<td>One event out of:</td> <td><input name="secondRatio" size="5" type="text" title="The second destination file will contain only one event out of this number"></td></tr-->
<tr><td>Shared memory:</td><td colspan="2"><input name="sharedMem(checkbox)" type="checkbox"> (RU name=<input name="RUName(string)" type="text" size="20" readonly> Instance=<input name="RU" type="text" size="2" readonly>)<br>
<input name="memToFile(checkbox)" type="checkbox"> Dump memory to temporary file</td></tr>
<!--tr><td>Acquisition mode:</td><td><input type="radio" name="acqMode" value="1" checked/>Full debug, <input type="radio" name="acqMode" value="2"  />CBC error, <input type="radio" name="acqMode" value="0"  />Summary error</td></tr-->
<tr><td>Break trigger during block read</td><td><input name="breakTrigger(checkbox)" type="checkbox" title="Set BREAK_TRIGGER flag during block read"/></td></tr>
<tr><td>Nb of acquisitions:</td><td><input name="nbAcq" size="5" title="Number of acquisition cycles to be performed" type="text"></td>
</tr>
<tr><td>Acquisition method: </td><td><select name="middleware(select)1:Complete,2:ACF middleware" /></td></tr>

<tr><td>Acquisition mode:</td><td><select name="acqMode(select)1:Full debug,2:CBC error,0:Summary error"/></td><td>Short pause duration (ms):</td><td><input name="shortPause" size="6" title="Wait for cbc_data_rdy" type="text"></td></tr>

<tr><td>Sparsified mode</td><td><input name="zeroSuppressed(checkbox)" type="checkbox" title="Virgin Raw operating mode if not checked"/></td>
<td>Long pause duration (ms):</td><td><input name="longPause" size="6" title="Pause after initialisation and configuration" type="text"></td></tr>

<tr><td><a href="enterConditionData">Condition data</a></td><td><input name="conditionData(checkbox)" type="checkbox" title="Events with condition data"/></td>
<td>Display acquisition log</td><td><input name="log(checkbox)" type="checkbox"></td>
<td>Visualisation: <input name="dataVisu" type="text" list="lstVisu" size="15"></td> </tr>

<tr><td>Use hardware event counter</td><td><input name="hardwareCounter(checkbox)" type="checkbox" title="The counter sent to shared memory in FRL header is given by the board"></td>
<td>Display status flags</td><td><input name="flags(checkbox)" type="checkbox"></td></tr>

<tr><td><a href="enterCommissioningLoop">Commissioning loops</a></td><td><input name="commissioningLoop(checkbox)" type="checkbox" title="Performs loops of varying I2C parameters. (The commissioning mode request has to be checked too in the BoardSupervisor acquisition parameters)"/> </td>
<td>Display counters</td><td><input name="displayCounters(checkbox)" type="checkbox"></td></tr>

<tr><td>Fake data</td><td><input name="fakeData(checkbox)" type="checkbox" title="Fake data generated by the board instead of real data (complete acquisition only)"/></td>
<td>Display data flags</td><td><input name="dataflags(checkbox)" type="checkbox"></td></tr>

<tr><td>&nbsp; <a href="enterData">Enter data</a> or filename:</td>
<td> <input name="dataFile(string)" size="40" type="text" title="For a simulation from a binary raw data file, enter a filename with extension '.raw'&#10;For a simulation from a binary new DAQ format file, enter a file with extension '.daq'"></td>
<td>... and next files</td><td><input name="readNextFiles(checkbox)" type="checkbox"> </td></tr>

<!--tr><td>Simulated data</td><td><input name="simulatedData(checkbox)" type="checkbox"> <a href="enterData">Enter data</a> or filename: <input name="dataFile(string)" size="30" type="text"></td></tr-->
<tr><td><input value="OK" type="submit"></td></tr>
</tbody></table>
</fieldset></form>
<datalist id="lstVisu">
  <option value="0: None">
  <option value="1: TDC">
  <option value="2: Error bits">
  <option value="3: Bad counters">
  <option value="4: Non identical events">
  <option value="5: Non id. events every 2">
  <option value="100: CBC A0">
  <option value="101: CBC B0">
  <option value="102: CBC A1">
  <option value="103: CBC B1">
  <option value="104: CBC A2">
  <option value="105: CBC B2">
  <option value="106: CBC A3">
  <option value="107: CBC B3">
  <option value="108: CBC A4">
  <option value="109: CBC B4">
  <option value="110: CBC A5">
  <option value="111: CBC B5">
  <option value="112: CBC A6">
  <option value="113: CBC B6">
  <option value="114: CBC A7">
  <option value="115: CBC B7">
</datalist>
