<form method="POST" action="saveSetup" name="frm" >
<h3>Mezzanines configuration</h3>
<fieldset style="width:50%" ><legend>Global parameters:</legend>
<table><tbody>
<tr><td>Number of Front Ends (FE):</td><td><input type="text" name="nb_FE" title="0 means one FE and no TTC FMC" onchange="this.form.submit()" size="1" readonly/></td></tr>
<tr><td>Hybrid type (nb of CBC):</td><td><input type="text" name="hybrid_type" title="" onchange="this.form.submit()" size="1" readonly/></td></tr>
</tbody></table> 
</fieldset>
</form>

