<script>
function checkAllBoxes(iFE, bCheck){
        for (var i=0;i<16;i++){
                x=document.getElementsByName('FE'+iFE+'_CBC'+i);
                x[0].checked=bCheck;
        }
        x=document.getElementsByName('FE'+iFE+'_all');
        x[0].checked=bCheck;
}
</script>

<form method="POST" action="FE_CBC_enabling" name="frm">
<table border="1">
<tr><th rowspan="2">FE</th><th rowspan="2">FE<br/>Enabled</th><th colspan="17">CBC Enabled</th></tr>
<tr><th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><td>All</td></tr>
<tr><th align="center">0</th><td align="center"><input name="FE0_enabled" type="checkbox" onclick="if (this.checked==false) checkAllBoxes(0,false)"/></td>
<td><input name="FE0_CBC0" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC1" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC2" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC3" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC4" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC5" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC6" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC7" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC8" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC9" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC10" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC11" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC12" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC13" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC14" type="checkbox" class="FE0"/></td>
<td><input name="FE0_CBC15" type="checkbox" class="FE0"/></td>
<td><input name="FE0_all" type="checkbox" onclick="checkAllBoxes(0,this.checked)"/></td>

</tr>

<tr><th align="center">1</th><td align="center"><input name="FE1_enabled" type="checkbox"/></td>
<td><input name="FE1_CBC0" type="checkbox"/></td>
<td><input name="FE1_CBC1" type="checkbox"/></td>
<td><input name="FE1_CBC2" type="checkbox"/></td>
<td><input name="FE1_CBC3" type="checkbox"/></td>
<td><input name="FE1_CBC4" type="checkbox"/></td>
<td><input name="FE1_CBC5" type="checkbox"/></td>
<td><input name="FE1_CBC6" type="checkbox"/></td>
<td><input name="FE1_CBC7" type="checkbox"/></td>
<td><input name="FE1_CBC8" type="checkbox"/></td>
<td><input name="FE1_CBC9" type="checkbox"/></td>
<td><input name="FE1_CBC10" type="checkbox"/></td>
<td><input name="FE1_CBC11" type="checkbox"/></td>
<td><input name="FE1_CBC12" type="checkbox"/></td>
<td><input name="FE1_CBC13" type="checkbox"/></td>
<td><input name="FE1_CBC14" type="checkbox"/></td>
<td><input name="FE1_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">2</th><td align="center"><input name="FE2_enabled" type="checkbox"/></td>
<td><input name="FE2_CBC0" type="checkbox"/></td>
<td><input name="FE2_CBC1" type="checkbox"/></td>
<td><input name="FE2_CBC2" type="checkbox"/></td>
<td><input name="FE2_CBC3" type="checkbox"/></td>
<td><input name="FE2_CBC4" type="checkbox"/></td>
<td><input name="FE2_CBC5" type="checkbox"/></td>
<td><input name="FE2_CBC6" type="checkbox"/></td>
<td><input name="FE2_CBC7" type="checkbox"/></td>
<td><input name="FE2_CBC8" type="checkbox"/></td>
<td><input name="FE2_CBC9" type="checkbox"/></td>
<td><input name="FE2_CBC10" type="checkbox"/></td>
<td><input name="FE2_CBC11" type="checkbox"/></td>
<td><input name="FE2_CBC12" type="checkbox"/></td>
<td><input name="FE2_CBC13" type="checkbox"/></td>
<td><input name="FE2_CBC14" type="checkbox"/></td>
<td><input name="FE2_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">3</th><td align="center"><input name="FE3_enabled" type="checkbox"/></td>
<td><input name="FE3_CBC0" type="checkbox"/></td>
<td><input name="FE3_CBC1" type="checkbox"/></td>
<td><input name="FE3_CBC2" type="checkbox"/></td>
<td><input name="FE3_CBC3" type="checkbox"/></td>
<td><input name="FE3_CBC4" type="checkbox"/></td>
<td><input name="FE3_CBC5" type="checkbox"/></td>
<td><input name="FE3_CBC6" type="checkbox"/></td>
<td><input name="FE3_CBC7" type="checkbox"/></td>
<td><input name="FE3_CBC8" type="checkbox"/></td>
<td><input name="FE3_CBC9" type="checkbox"/></td>
<td><input name="FE3_CBC10" type="checkbox"/></td>
<td><input name="FE3_CBC11" type="checkbox"/></td>
<td><input name="FE3_CBC12" type="checkbox"/></td>
<td><input name="FE3_CBC13" type="checkbox"/></td>
<td><input name="FE3_CBC14" type="checkbox"/></td>
<td><input name="FE3_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">4</th><td align="center"><input name="FE4_enabled" type="checkbox"/></td>
<td><input name="FE4_CBC0" type="checkbox"/></td>
<td><input name="FE4_CBC1" type="checkbox"/></td>
<td><input name="FE4_CBC2" type="checkbox"/></td>
<td><input name="FE4_CBC3" type="checkbox"/></td>
<td><input name="FE4_CBC4" type="checkbox"/></td>
<td><input name="FE4_CBC5" type="checkbox"/></td>
<td><input name="FE4_CBC6" type="checkbox"/></td>
<td><input name="FE4_CBC7" type="checkbox"/></td>
<td><input name="FE4_CBC8" type="checkbox"/></td>
<td><input name="FE4_CBC9" type="checkbox"/></td>
<td><input name="FE4_CBC10" type="checkbox"/></td>
<td><input name="FE4_CBC11" type="checkbox"/></td>
<td><input name="FE4_CBC12" type="checkbox"/></td>
<td><input name="FE4_CBC13" type="checkbox"/></td>
<td><input name="FE4_CBC14" type="checkbox"/></td>
<td><input name="FE4_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">5</th><td align="center"><input name="FE5_enabled" type="checkbox"/></td>
<td><input name="FE5_CBC0" type="checkbox"/></td>
<td><input name="FE5_CBC1" type="checkbox"/></td>
<td><input name="FE5_CBC2" type="checkbox"/></td>
<td><input name="FE5_CBC3" type="checkbox"/></td>
<td><input name="FE5_CBC4" type="checkbox"/></td>
<td><input name="FE5_CBC5" type="checkbox"/></td>
<td><input name="FE5_CBC6" type="checkbox"/></td>
<td><input name="FE5_CBC7" type="checkbox"/></td>
<td><input name="FE5_CBC8" type="checkbox"/></td>
<td><input name="FE5_CBC9" type="checkbox"/></td>
<td><input name="FE5_CBC10" type="checkbox"/></td>
<td><input name="FE5_CBC11" type="checkbox"/></td>
<td><input name="FE5_CBC12" type="checkbox"/></td>
<td><input name="FE5_CBC13" type="checkbox"/></td>
<td><input name="FE5_CBC14" type="checkbox"/></td>
<td><input name="FE5_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">6</th><td align="center"><input name="FE6_enabled" type="checkbox"/></td>
<td><input name="FE6_CBC0" type="checkbox"/></td>
<td><input name="FE6_CBC1" type="checkbox"/></td>
<td><input name="FE6_CBC2" type="checkbox"/></td>
<td><input name="FE6_CBC3" type="checkbox"/></td>
<td><input name="FE6_CBC4" type="checkbox"/></td>
<td><input name="FE6_CBC5" type="checkbox"/></td>
<td><input name="FE6_CBC6" type="checkbox"/></td>
<td><input name="FE6_CBC7" type="checkbox"/></td>
<td><input name="FE6_CBC8" type="checkbox"/></td>
<td><input name="FE6_CBC9" type="checkbox"/></td>
<td><input name="FE6_CBC10" type="checkbox"/></td>
<td><input name="FE6_CBC11" type="checkbox"/></td>
<td><input name="FE6_CBC12" type="checkbox"/></td>
<td><input name="FE6_CBC13" type="checkbox"/></td>
<td><input name="FE6_CBC14" type="checkbox"/></td>
<td><input name="FE6_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">7</th><td align="center"><input name="FE7_enabled" type="checkbox"/></td>
<td><input name="FE7_CBC0" type="checkbox"/></td>
<td><input name="FE7_CBC1" type="checkbox"/></td>
<td><input name="FE7_CBC2" type="checkbox"/></td>
<td><input name="FE7_CBC3" type="checkbox"/></td>
<td><input name="FE7_CBC4" type="checkbox"/></td>
<td><input name="FE7_CBC5" type="checkbox"/></td>
<td><input name="FE7_CBC6" type="checkbox"/></td>
<td><input name="FE7_CBC7" type="checkbox"/></td>
<td><input name="FE7_CBC8" type="checkbox"/></td>
<td><input name="FE7_CBC9" type="checkbox"/></td>
<td><input name="FE7_CBC10" type="checkbox"/></td>
<td><input name="FE7_CBC11" type="checkbox"/></td>
<td><input name="FE7_CBC12" type="checkbox"/></td>
<td><input name="FE7_CBC13" type="checkbox"/></td>
<td><input name="FE7_CBC14" type="checkbox"/></td>
<td><input name="FE7_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">8</th><td align="center"><input name="FE8_enabled" type="checkbox"/></td>
<td><input name="FE8_CBC0" type="checkbox"/></td>
<td><input name="FE8_CBC1" type="checkbox"/></td>
<td><input name="FE8_CBC2" type="checkbox"/></td>
<td><input name="FE8_CBC3" type="checkbox"/></td>
<td><input name="FE8_CBC4" type="checkbox"/></td>
<td><input name="FE8_CBC5" type="checkbox"/></td>
<td><input name="FE8_CBC6" type="checkbox"/></td>
<td><input name="FE8_CBC7" type="checkbox"/></td>
<td><input name="FE8_CBC8" type="checkbox"/></td>
<td><input name="FE8_CBC9" type="checkbox"/></td>
<td><input name="FE8_CBC10" type="checkbox"/></td>
<td><input name="FE8_CBC11" type="checkbox"/></td>
<td><input name="FE8_CBC12" type="checkbox"/></td>
<td><input name="FE8_CBC13" type="checkbox"/></td>
<td><input name="FE8_CBC14" type="checkbox"/></td>
<td><input name="FE8_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">9</th><td align="center"><input name="FE9_enabled" type="checkbox"/></td>
<td><input name="FE9_CBC0" type="checkbox"/></td>
<td><input name="FE9_CBC1" type="checkbox"/></td>
<td><input name="FE9_CBC2" type="checkbox"/></td>
<td><input name="FE9_CBC3" type="checkbox"/></td>
<td><input name="FE9_CBC4" type="checkbox"/></td>
<td><input name="FE9_CBC5" type="checkbox"/></td>
<td><input name="FE9_CBC6" type="checkbox"/></td>
<td><input name="FE9_CBC7" type="checkbox"/></td>
<td><input name="FE9_CBC8" type="checkbox"/></td>
<td><input name="FE9_CBC9" type="checkbox"/></td>
<td><input name="FE9_CBC10" type="checkbox"/></td>
<td><input name="FE9_CBC11" type="checkbox"/></td>
<td><input name="FE9_CBC12" type="checkbox"/></td>
<td><input name="FE9_CBC13" type="checkbox"/></td>
<td><input name="FE9_CBC14" type="checkbox"/></td>
<td><input name="FE9_CBC15" type="checkbox"/></td>
<td><input name="FE9_all" type="checkbox"/></td>
</tr>

<tr><th align="center">10</th><td align="center"><input name="FE10_enabled" type="checkbox"/></td>
<td><input name="FE10_CBC0" type="checkbox"/></td>
<td><input name="FE10_CBC1" type="checkbox"/></td>
<td><input name="FE10_CBC2" type="checkbox"/></td>
<td><input name="FE10_CBC3" type="checkbox"/></td>
<td><input name="FE10_CBC4" type="checkbox"/></td>
<td><input name="FE10_CBC5" type="checkbox"/></td>
<td><input name="FE10_CBC6" type="checkbox"/></td>
<td><input name="FE10_CBC7" type="checkbox"/></td>
<td><input name="FE10_CBC8" type="checkbox"/></td>
<td><input name="FE10_CBC9" type="checkbox"/></td>
<td><input name="FE10_CBC10" type="checkbox"/></td>
<td><input name="FE10_CBC11" type="checkbox"/></td>
<td><input name="FE10_CBC12" type="checkbox"/></td>
<td><input name="FE10_CBC13" type="checkbox"/></td>
<td><input name="FE10_CBC14" type="checkbox"/></td>
<td><input name="FE10_CBC15" type="checkbox"/></td>
<td><input name="FE10_all" type="checkbox"/></td>
</tr>

<tr><th align="center">11</th><td align="center"><input name="FE11_enabled" type="checkbox"/></td>
<td><input name="FE11_CBC0" type="checkbox"/></td>
<td><input name="FE11_CBC1" type="checkbox"/></td>
<td><input name="FE11_CBC2" type="checkbox"/></td>
<td><input name="FE11_CBC3" type="checkbox"/></td>
<td><input name="FE11_CBC4" type="checkbox"/></td>
<td><input name="FE11_CBC5" type="checkbox"/></td>
<td><input name="FE11_CBC6" type="checkbox"/></td>
<td><input name="FE11_CBC7" type="checkbox"/></td>
<td><input name="FE11_CBC8" type="checkbox"/></td>
<td><input name="FE11_CBC9" type="checkbox"/></td>
<td><input name="FE11_CBC10" type="checkbox"/></td>
<td><input name="FE11_CBC11" type="checkbox"/></td>
<td><input name="FE11_CBC12" type="checkbox"/></td>
<td><input name="FE11_CBC13" type="checkbox"/></td>
<td><input name="FE11_CBC14" type="checkbox"/></td>
<td><input name="FE11_CBC15" type="checkbox"/></td>
<td><input name="FE12_all" type="checkbox"/></td>
</tr>

<tr><th align="center">12</th><td align="center"><input name="FE12_enabled" type="checkbox"/></td>
<td><input name="FE12_CBC0" type="checkbox"/></td>
<td><input name="FE12_CBC1" type="checkbox"/></td>
<td><input name="FE12_CBC2" type="checkbox"/></td>
<td><input name="FE12_CBC3" type="checkbox"/></td>
<td><input name="FE12_CBC4" type="checkbox"/></td>
<td><input name="FE12_CBC5" type="checkbox"/></td>
<td><input name="FE12_CBC6" type="checkbox"/></td>
<td><input name="FE12_CBC7" type="checkbox"/></td>
<td><input name="FE12_CBC8" type="checkbox"/></td>
<td><input name="FE12_CBC9" type="checkbox"/></td>
<td><input name="FE12_CBC10" type="checkbox"/></td>
<td><input name="FE12_CBC11" type="checkbox"/></td>
<td><input name="FE12_CBC12" type="checkbox"/></td>
<td><input name="FE12_CBC13" type="checkbox"/></td>
<td><input name="FE12_CBC14" type="checkbox"/></td>
<td><input name="FE12_CBC15" type="checkbox"/></td>
<td><input name="FE12_all" type="checkbox"/></td>
</tr>

<tr><th align="center">13</th><td align="center"><input name="FE13_enabled" type="checkbox"/></td>
<td><input name="FE13_CBC0" type="checkbox"/></td>
<td><input name="FE13_CBC1" type="checkbox"/></td>
<td><input name="FE13_CBC2" type="checkbox"/></td>
<td><input name="FE13_CBC3" type="checkbox"/></td>
<td><input name="FE13_CBC4" type="checkbox"/></td>
<td><input name="FE13_CBC5" type="checkbox"/></td>
<td><input name="FE13_CBC6" type="checkbox"/></td>
<td><input name="FE13_CBC7" type="checkbox"/></td>
<td><input name="FE13_CBC8" type="checkbox"/></td>
<td><input name="FE13_CBC9" type="checkbox"/></td>
<td><input name="FE13_CBC10" type="checkbox"/></td>
<td><input name="FE13_CBC11" type="checkbox"/></td>
<td><input name="FE13_CBC12" type="checkbox"/></td>
<td><input name="FE13_CBC13" type="checkbox"/></td>
<td><input name="FE13_CBC14" type="checkbox"/></td>
<td><input name="FE13_CBC15" type="checkbox"/></td>
<td><input name="FE13_all" type="checkbox"/></td>
</tr>

<tr><th align="center">14</th><td align="center"><input name="FE14_enabled" type="checkbox"/></td>
<td><input name="FE14_CBC0" type="checkbox"/></td>
<td><input name="FE14_CBC1" type="checkbox"/></td>
<td><input name="FE14_CBC2" type="checkbox"/></td>
<td><input name="FE14_CBC3" type="checkbox"/></td>
<td><input name="FE14_CBC4" type="checkbox"/></td>
<td><input name="FE14_CBC5" type="checkbox"/></td>
<td><input name="FE14_CBC6" type="checkbox"/></td>
<td><input name="FE14_CBC7" type="checkbox"/></td>
<td><input name="FE14_CBC8" type="checkbox"/></td>
<td><input name="FE14_CBC9" type="checkbox"/></td>
<td><input name="FE14_CBC10" type="checkbox"/></td>
<td><input name="FE14_CBC11" type="checkbox"/></td>
<td><input name="FE14_CBC12" type="checkbox"/></td>
<td><input name="FE14_CBC13" type="checkbox"/></td>
<td><input name="FE14_CBC14" type="checkbox"/></td>
<td><input name="FE14_CBC15" type="checkbox"/></td>
<td><input name="FE14_all" type="checkbox"/></td>
</tr>

<tr><th align="center">15</th><td align="center"><input name="FE15_enabled" type="checkbox"/></td>
<td><input name="FE15_CBC0" type="checkbox"/></td>
<td><input name="FE15_CBC1" type="checkbox"/></td>
<td><input name="FE15_CBC2" type="checkbox"/></td>
<td><input name="FE15_CBC3" type="checkbox"/></td>
<td><input name="FE15_CBC4" type="checkbox"/></td>
<td><input name="FE15_CBC5" type="checkbox"/></td>
<td><input name="FE15_CBC6" type="checkbox"/></td>
<td><input name="FE15_CBC7" type="checkbox"/></td>
<td><input name="FE15_CBC8" type="checkbox"/></td>
<td><input name="FE15_CBC9" type="checkbox"/></td>
<td><input name="FE15_CBC10" type="checkbox"/></td>
<td><input name="FE15_CBC11" type="checkbox"/></td>
<td><input name="FE15_CBC12" type="checkbox"/></td>
<td><input name="FE15_CBC13" type="checkbox"/></td>
<td><input name="FE15_CBC14" type="checkbox"/></td>
<td><input name="FE15_CBC15" type="checkbox"/></td>
<td><input name="FE15_all" type="checkbox"/></td>
</tr>

<tr><td>All</td><td align="center"><input name="FE_all" type="checkbox" onClick="for (var i=0;i<16;i++){elm=document.getElementsByName('FE'+i+'_enabled');elm[0].checked=FE_all.checked;}"/></td></tr>

</table>
<br/>
<input value="OK" type="submit"/>
</form>

